body {
  /* Set margin to 0 pixels on all sides */
  /* Set font family to be Helvetica or Arial */
  /* Set line height to be 1.5 times larger than default */ 
  margin: 0px;
  font-family: Helvetica;
  line-height: 1.5em;
  background: skyblue;
}

header {
  /* Set text alignment to center */
  text-align: center;
}

main {
  /* Set maximum width to be 800 pixels */
  /* Set margin to be automatically calculated on all sides */
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right */
  max-width: 800px;
  margin: auto;
  padding: 0px 20px; /*Shortcut for padding top&bottom, left&right*/
}

p {
  /* Set font color to be the hex code 333333 */
  color: #333333;
}

.faded {
  /* Set opacity of the text to be 0.7 */
  opacity: 0.7;
}

img {
  /* Set max width to be 100% of the containing element */
  padding-top: 50px;
  max-width: 90%;
  max-height: 40%;
}

h1 {
  /* Set border along bottom to be a black solid line 5 pixels thick */
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: black;
  /*Can also do --> border-bottom: 5px solid black;*/
}

h2 {
  /* Set font color to be red (BONUS: try using a hex code like #e51b24!) */
  color: #e51b24;
}

footer {
  /* Set font color to white */
  /* Set background color to black */
  /* Set padding on all sides to be 20 pixels */
  /* Set text alignment to center */
  /* Set margin on top to be 60 pixels */
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

@media (max-width: 600px) {

  body {
    /* Set the background color to be red */
    /* Set the font color to be white */
    background: red; /*More specifically background-color*/
    color: white; 
  }

  /* Question - did the font color change? If not, why? Let's fix that below */

  /* Where did the H2's go? See if you can fix that too! */

}
