body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  background: #89CFF0;
}

body.resume {
  font-family: 'Calibri', sans-serif;
}

li{
  font-size: 12px;
}

header {
  text-align: center;
  margin-top: 15px;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 0px 20px; /*Shortcut for padding top&bottom, left&right*/
}

p {
  color: #333333;
  margin: 25px;
  font-family: 'Open Sans', sans-serif;
}

p.quote {
  font-family: 'Lora', serif;
  line-height: 2.5em;
  text-align: center;
  font-style: italic;
  color: white;
}

img {
  padding-top: 60px;
  max-width: 90%;
  max-height: 40%;
}

h1 {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: black;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.topnav {
  margin: 0px;
  overflow: hidden;
  background-color: #333;
  display: block;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

